.detail {
  flex: 1;

  display: flex;
  flex-direction: column;

  header {
    flex: 1;

    padding: 30px 20px;
    border-bottom: 1px solid #dddddd35;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      /* object-fit property is missing */
    }
  }

  main {
    flex: 2;

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;

    .option {
      /* border: 1px solid red; */

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 30px;
          height: 30px;
          background-color: rgba(17, 25, 40, 0.2);
          padding: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .photos {
        /* border: 1px solid green; */
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .photoDetail {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 5px;
              /* missing object-fit property */
            }

            span {
              font-size: 14px;
              color: lightgray;
              font-weight: 300;
            }
          }

          .icon {
            width: 30px;
            height: 30px;
            background-color: rgba(17, 25, 40, 0.3);
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }

  footer {
    flex: 0.5;

    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      padding: 10px 20px;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 5px;

      &.blockUser {
        background-color: rgba(230, 74, 105, 0.553);

        &:hover {
          background-color: rgba(230, 74, 105, 0.796);
        }
      }

      &.logout {
        background-color: rgba(81, 131, 259, 0.553);

        &:hover {
          background-color: rgba(81, 131, 259, 0.796);
        }
      }
    }
  }
}
